body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
}

.articles-container {
    max-width: 800px;
    margin: 0 auto;
}

.article-block {
    background-color: #fff;
    margin-bottom: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
}

.header-content {
    position: relative;
    background-color: #333333;
    color: white;
    text-align: center;
    overflow: hidden;
}

h1 {
    position: absolute;
    font-size: 50px;
    width: 680px;
    height: 80px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(2px);
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

[role="main"] {
    padding: 20px;
}

.highlight-box {
    background-color: #D4AF37;
    color: #333;
    padding: 1em;
    margin: 1em 0;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.highlight-box:hover {
    transform: scale(1.05);
}

.interactive-image {
    height: 525px;
    width: 90%;
    margin: 0;
    padding: 0;
    border: none;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
    transition: filter 0.5s ease;
    cursor: pointer;
}

.interactive-image:hover {
    filter: brightness(1.2);
}

.read-more-btn,
.read-less-btn {
    display: inline-block;
    background-color: #6A7FDB;
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 3px;
    margin: 1em 0;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: none;
}

.read-more-btn:hover,
.read-less-btn:hover {
    background-color: #5466b3;
}

.hidden-content {
    display: none;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

/* Added responsive design */
@media (max-width: 850px) {
    .articles-container {
        padding: 10px;
    }

    h1 {
        font-size: 36px;
        width: 90%;
        height: auto;
    }

    .interactive-image {
        height: 300px;
    }
}
