* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", system-ui;
    font-weight: 700;
}

.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.navbar {
    display: flex;
    position: fixed;
    align-items: center;
    top: 0px;
    background-color: black;
    width: 100%;
    padding: 17px 30px;
    z-index: 999;
}

.navbar a {
    text-decoration: none;
}

.our-project {
    font-size: 24px;
    color: white;

}

.navbar img {
    margin-right: 8px;
    border-radius: 15px;
}
.nav-list {
    display: flex;
    list-style: none;
}

.nav-list a {
    font-size: 13px;
    margin: 8px 11px;
    color: white;
    padding: 8px 12px;
}

.nav-list a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.left-nav {
    margin-right: 30px;
}

.right-nav {
    margin-right: 30px;
    display: flex;
}

.right-nav a {
    font-size: 13px;
    color: white;
}

.right-nav li{
    list-style: none;
    margin-right: 30px;
}

.right-nav a:hover {
    color: skyblue;
}
.navbar .right-nav{
    position: absolute;
    right: 40px;
}

.bar {
    color: white;
}

@media (min-width: 1000px) {
    .bar {
        position: absolute;
        right: -100px;
    }
}

@media (max-width: 1100px) {
    .nav-list {
        display: none;
    }
}

.homepage_cover {
    position: relative;
    background-size: cover;
    height: calc(100vh - 74px);
    padding-bottom: 56%;
    overflow: hidden;
}

.homepage_cover_video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
}

.homepage_cover_wrap {
    position: absolute;
    top: 37%;
    left: 0;
    color: rgb(255, 255, 255);
    width: 100%;
    padding-left: 140px;
    z-index: 3;
}

.line1 {
    font-size: 32px;
}

.line2 {
    font-size: 50px;
    line-height: 1.2;
}

.line3 {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.9);
}

.join-btn {
    color: white;
    font-size: 25px;
    padding: 8px 30px;
    border-radius: 18px;
    background-color: rgb(59, 125, 183);
    margin-top: 10px;
    border: none;
}

.join-btn:hover {
    background-color: white;
    color: blue;
}

.motivation {
    padding: 25px 0px;
    text-align: center;
    background-color: #ffff;
}

.motivation_title {
    text-align: center;
    letter-spacing: -0.1px;
    color: black;
    font-size: 38px;
    font-weight: 650;
}

.motivation .motivation_title span {
    color: #008ddc;
    font-size: 46px;
    font-weight: bold;
}

.motivation .motivation_text {
    margin: 0px auto;
    text-align: center;
    letter-spacing: 0;
    color: #666;
    font-size: 26px;
    font-weight: 300;
    line-height: 1.6;
}

.motivation .motivation_text span {
    display: block;
}

.motivation .motivation_page_images{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}